@charset "UTF-8";
/* ************ Ny Carapace för Gnome 36 **************** */
/* Copyright 2009, 2015 Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */
/* ******
Theme by HackaN ( hackan301@gmail.com )
****** */
.icon-grid .app-well-app:focus .overview-icon {
  background-gradient-start: rgba(200, 200, 205, 0.6);
  background-gradient-end: rgba(255, 255, 255, 0.05);
  background-gradient-direction: radial; }

.icon-grid .app-well-app:selected .overview-icon {
  background-gradient-start: rgba(190, 0, 5, 0.6);
  background-gradient-end: rgba(235, 245, 235, 0.05);
  background-gradient-direction: radial; }

.icon-grid .app-well-app:hover .overview-icon {
  background-gradient-start: rgba(210, 210, 210, 0.6);
  background-gradient-end: rgba(255, 220, 220, 0.05);
  background-gradient-direction: radial; }

#panel:overview .panel-button:active,
#panel:overview #panelActivities.panel-button,
#panel:overview :active StBin, #panel.transparent .panel-button:active, #panel .panel-button:active,
#panel .panel-corner:active {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  -panel-corner-border-color: transparent; }

.list-search-results, .search-entry:focus,
.search-entry:focus:hover, .workspace-thumbnails {
  box-shadow: inset 0 0 1px 0.5px rgba(0, 0, 0, 0.7);
  border: 0.5px solid rgba(240, 240, 240, 0.2);
  background-color: rgba(25, 30, 35, 0.2); }

.search-section-content,
.search-provider-icon, .search-entry, .search-entry:hover {
  box-shadow: inset 0.5px 0 1px 0.5px rgba(0, 0, 0, 0);
  border: 0.5px solid rgba(240, 240, 240, 0);
  background-color: rgba(25, 30, 35, 0); }

.search-entry, .search-entry:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: inset 0 -0.5px 0 0 rgba(0, 0, 0, 0.25); }

.search-entry:hover {
  border: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.45); }

.search-entry,
.search-entry .search-entry-icon,
.search-entry .hint-text {
  color: rgba(0, 0, 0, 0.5);
  /*text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconSolidShadow;
  color: rgba(0,0,0,.6);*/
  text-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
  icon-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5); }

.search-entry:hover,
.search-entry:hover .search-entry-icon,
.search-entry:hover .hint-text {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
  icon-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5); }

.search-entry:focus,
.search-entry:focus:hover,
.search-entry:focus .search-entry-icon,
.search-entry:focus:hover .search-entry-icon,
.search-entry:focus .hint-text,
.search-entry:focus:hover .hint-text {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8);
  icon-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8); }

.search-section-content,
.search-provider-icon {
  border: 0 none; }

stage {
  font: 1em Lato, NimbusSans, Cantarell;
  color: #eee; }

MetaStage {
  border: 3px red solid !important; }

#uiGroup Gjs_ui_layout_UiActor {
  border: 3px red solid !important; }

.button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 100ms;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold; }

#dash {
  border-image: url("common-assets/dash/CarapaceDockPantheon_v1.svg") 9 9 9 9; }

#panelBox {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(5, 10, 15, 0.35);
  background-gradient-end: rgba(60, 65, 70, 0);
  /*border: .5px none rgba(0,0,0,.0);
  border-top: .5px solid rgba(240,245,250,.15);
  border-radius: 2px;*/
  box-shadow: inset 0px 0.5px 0.5px rgba(245, 245, 250, 0.25);
  border-radius: 1px; }

#panel .panel-button .app-menu-icon {
  /* program-ikoner, ligger framför namnet i panelen, men dom är inte alltid så vackra... */
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-right: 0px; }

#panel #panelActivities.panel-button > *,
#panel #panelActivities.panel-button > *,
#panel:overview #panelActivities.panel-button > * {
  icon-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8);
  width: 24px !important;
  height: 24px !important;
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: 0 none transparent !important;
  text-shadow: 0 0 transparent !important;
  transition-duration: 0ms !important;
  box-shadow: none !important;
  color: transparent;
  background-image: none; }

#panel #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg"); }

#panel.transparent #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg"); }

#panel:overview #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.7.svg"); }

#panel :hover #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7.svg"); }

#panel.transparent :hover #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7.svg"); }

#panel:overview :hover #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg"); }

#panel .popup-menu-arrow {
  width: 0; }

#panel,
#panel .panel-button,
#panel .system-status-icon,
#panel .app-menu-icon > StIcon,
#panel .popup-menu-arrow,
#panel Gjs_ui_dateMenu_MessagesIndicator {
  font-size: 1em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8);
  icon-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8); }

#panel .power-status.panel-status-indicators-box {
  spacing: 0; }

#panel:overview {
  border-top: 1px solid #191e23;
  border-left: 0px solid #191e23;
  border-bottom: 0px solid #191e23;
  border-right: 0px solid #191e23; }

#panel.transparent,
#panel.transparent .panel-button,
#panel.transparent .system-status-icon,
#panel.transparent .app-menu-icon > StIcon,
#panel.transparent .popup-menu-arrow,
#panel.transparent Gjs_ui_dateMenu_MessagesIndicator {
  color: rgba(255, 255, 255, 0.9); }

#panel.transparent .panel-corner {
  -panel-corner-radius: 0px;
  -panel-corner-background-color: rgba(15, 20, 30, 0);
  -panel-corner-border-width: 0px;
  -panel-corner-border-color: transparent; }

#panel:overview,
#panel:overview .panel-button,
#panel:overview .system-status-icon,
#panel:overview .app-menu-icon > StIcon,
#panel:overview .popup-menu-arrow,
#panel:overview Gjs_ui_dateMenu_MessagesIndicator {
  color: rgba(255, 255, 255, 0.7); }

#panel:overview .panel-corner {
  -panel-corner-radius: 0px;
  -panel-corner-background-color: rgba(15, 20, 30, 0);
  -panel-corner-border-width: 0px;
  -panel-corner-border-color: transparent; }

#panel :hover,
#panel .panel-button:hover,
#panel :hover .system-status-icon,
#panel .app-menu-icon:hover > StIcon,
#panel :hover .popup-menu-arrow,
#panel Gjs_ui_dateMenu_MessagesIndicator:hover,
#panel :active,
#panel .panel-button:active,
#panel :active .system-status-icon,
#panel .app-menu-icon:active > StIcon,
#panel :active .popup-menu-arrow,
#panel Gjs_ui_dateMenu_MessagesIndicator:active {
  color: white; }

#panel .panel-button:active StLabel.clock {
  box-shadow: none; }

#panel.transparent :hover,
#panel.transparent .panel-button:hover,
#panel.transparent :hover .system-status-icon,
#panel.transparent .app-menu-icon:hover > StIcon,
#panel.transparent :hover .popup-menu-arrow,
#panel.transparent Gjs_ui_dateMenu_MessagesIndicator:hover,
#panel.transparent :active,
#panel.transparent .panel-button:active,
#panel.transparent :active .system-status-icon,
#panel.transparent .app-menu-icon:active > StIcon,
#panel.transparent :active .popup-menu-arrow,
#panel.transparent Gjs_ui_dateMenu_MessagesIndicator:active {
  color: white; }

#panel:overview :hover,
#panel:overview .panel-button:hover,
#panel:overview :hover .system-status-icon,
#panel:overview .app-menu-icon:hover > StIcon,
#panel:overview :hover .popup-menu-arrow,
#panel:overview Gjs_ui_dateMenu_MessagesIndicator:hover,
#panel:overview :active,
#panel:overview .panel-button:active,
#panel:overview :active .system-status-icon,
#panel:overview .app-menu-icon:active > StIcon,
#panel:overview :active .popup-menu-arrow,
#panel:overview Gjs_ui_dateMenu_MessagesIndicator:active {
  color: rgba(255, 255, 255, 0.9); }

/*#panel:overview #panelActivities.panel-button {
  //border: red 1px solid;
  box-shadow: inset 0 -1px 0 0 rgba(0,255,0,1);
}*/
.TrayIndicator StButton {
  padding: 0 0px !important;
  margin: 0px !important; }

.TrayIndicator {
  border: 1px solid red !important;
  padding: 0px !important; }

#dash {
  color: white;
  font-size: 1.2em;
  padding: 4px 0;
  background: none; }

/* ::: menyer ::: */
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  /*  -arrow-border-radius: 6px;
     -arrow-background-color: rgba(45,50,55,95);
     -arrow-border-width: 4.5px;
     -arrow-border-color: rgba(35,40,45,.45);
     -arrow-base: 24px;
     -arrow-rise: 8px;
     -arrow-box-shadow: 0 0 10px rgba(250,0,0,1) !important;*/
  -arrow-border-radius: 10px;
  -arrow-background-color: rgba(35, 40, 45, 0.9);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(15, 20, 25, 0.9);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -arrow-box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.7) !important; }

/* överblicken */
#overview {
  background-color: rgba(140, 145, 150, 0.4);
  /*
  border: 2em solid $overViewFrame;
  border-radius: 3em;
  box-shadow: 0 0 0 1.5em $overViewFrame;
  padding: -2em; // återställa utrymme*/
  /*
  border: 1px rgba(25,30,35,.8);
  border-radius: 3px;
  padding: 0px;
  box-shadow:inset 0 0 0px 0px rgba(0,0,0,.8);
  */
  /*
  border: 2em solid rgba(25,30,35,1);
  border-radius: 0px;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
  padding: -2em;*/
  border: 2em solid rgba(25, 30, 35, 0);
  border-radius: 2.15em;
  box-shadow: inset 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25);
  padding: -2em;
  /**/
  padding-right: 0em; }

.workspace-thumbnails {
  spacing: 15px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  overflow: visible;
  border-right: none;
  /*
  border: .5px solid rgba(0,0,0,.7);
  border-right: none;
  background-color: rgba(35,40,45,.7);
  box-shadow: 0 0 5px 2px black;*/ }

.workspace-thumbnails .placeholder {
  background-image: none;
  background-color: rgba(140, 145, 150, 0.4);
  border: 0 solid rgba(25, 30, 35, 0);
  border-radius: 5px;
  box-shadow: inset 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25); }

.workspace-thumbnail-indicator {
  border: 4px solid rgba(230, 235, 240, 0.6);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0px;
  padding: 6px;
  /* typ samma avstånd som från skärmkanten*/
  margin-left: 3px; }

.window-picker {
  /*-horizontal-spacing: 32px;
  -vertical-spacing: 40px;
  padding-left: 52px;
  padding-right: 12px;
  padding-bottom: 15px;*/ }

.window-picker.external-monitor {
  /*padding: 32px;*/ }

.window-clone-border {
  border: 1px #32373c;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px black;
  background-color: rgba(140, 145, 150, 0.1); }

.window-caption {
  background: transparent;
  text-shadow: 0 0 4px 2px black;
  margin-top: 2em;
  padding-bottom: .5em;
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
  border: none; }

.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  border: 0px;
  border-radius: 26px;
  box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: transparent; }

.window-close:hover {
  background-image: url("common-assets/misc/close-hover.svg"); }

.window-close:active {
  background-image: url("common-assets/misc/close-active.svg"); }

/* ::: Dash sök ::: */
.search-entry,
.search-entry:hover,
.search-entry:focus {
  transition-duration: 800ms;
  padding: 5px !important; }

.search-entry {
  margin-left: 2em; }

.list-search-results {
  border-radius: 10px;
  padding: 10px; }

.list-search-result StIcon,
.list-search-provider-content StIcon {
  icon-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8); }

.list-search-result:hover,
.list-search-result:focus,
.list-search-result:focus:hover,
.list-search-result:selected,
.search-provider-icon:hover,
.search-provider-icon:focus,
.search-provider-icon:focus:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4); }

.search-provider-icon .list-search-provider-content {
  border-radius: 5px;
  padding: 5px; }

.search-provider-icon .list-search-provider-details {
  color: rgba(255, 255, 255, 0.7); }

.search-provider-icon:hover .list-search-provider-details,
.search-provider-icon:focus .list-search-provider-details {
  color: rgba(255, 255, 255, 0.9); }

.search-provider-icon:focus:hover .list-search-provider-details {
  color: white; }

.search-provider-icon:focus .list-search-provider-content {
  background-color: rgba(200, 200, 200, 0.3);
  border: 0.5px solid rgba(15, 20, 25, 0.9); }

.icon-grid {
  spacing: 20px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px; }

.app-display {
  margin-left: 2em; }

.icon-grid .app-well-app .overview-icon {
  background-gradient-direction: none;
  border-radius: 120px; }

.icon-grid .app-well-app .overview-icon StLabel,
.icon-grid .app-well-app .overview-icon StIcon {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.4);
  icon-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.4); }

.icon-grid .app-well-app:hover .overview-icon StLabel,
.icon-grid .app-well-app:selected .overview-icon StLabel,
.icon-grid .app-well-app:focus .overview-icon StLabel,
.icon-grid .app-well-app:hover .overview-icon StIcon,
.icon-grid .app-well-app:selected .overview-icon StIcon,
.icon-grid .app-well-app:focus .overview-icon StIcon {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2.5px 1px rgba(0, 0, 0, 0.8);
  icon-shadow: 0 1px 3.5px 2px rgba(0, 0, 0, 0.8); }
