// Apps
// ::: Ikonnät :::

.icon-grid,
.app-folder-popup,
.app-folder-popup-bin {
  spacing: 20px; // lägre värde = större ikoner
  -shell-grid-horizontal-item-size: 122px;
  -shell-grid-vertical-item-size: 122px;
  //border: 1px solid green;
 }
 .icon-grid .overview-icon {
   icon-size: 96px; }
 .app-display {
   margin-left: 2em; // så att ikoner blir centerade
   //border: 1px solid green;
 }

 .icon-grid .app-well-app .overview-icon,
 .switcher-list .item-box {
   @extend %flashLightOff; // FIXME: spök-cirkel-kant på inaktiva, bl.a mappar som nyss fått nya program tillagda. - Mappar får kanten av flashlight vid :hover också
   border-radius: 120px;
   //border: .5px solid rgba(240,240,240,.0);
 }
 .icon-grid .app-well-app .overview-icon StLabel,
 .icon-grid .app-well-app .overview-icon StIcon,
 .switcher-list .item-box,
 .switcher-list .item-box StIcon {
   color: $textIconColorBrightWeak;
   text-shadow: $textIconMediumShadow;
   //font-size: 1em;
   icon-shadow: $textIconMediumShadow;
 }
.icon-grid .app-well-app-running-dot {
  width: 30px;
  height: 3px;
  margin-bottom: 5px; /* kan ej vara negativ, försvinner då*/
  border-radius: 3px;
  @extend %sunkinglass;
}

 .icon-grid .app-well-app:hover .overview-icon {
   @extend %flashLightHover;
   //@extend %floatinglassShallow;
 }
 .icon-grid .app-well-app:hover .overview-icon StLabel,
 .icon-grid .app-well-app:selected .overview-icon StLabel,
 .icon-grid .app-well-app:focus .overview-icon StLabel,
 .icon-grid .app-well-app:hover .overview-icon StIcon,
 .icon-grid .app-well-app:selected .overview-icon StIcon,
 .icon-grid .app-well-app:focus .overview-icon StIcon,
 .switcher-list .item-box:selected,
 .switcher-list .item-box:outlined,
 .switcher-list .item-box:selected StIcon,
 .switcher-list .item-box:outlined StIcon {
   color: $textIconColorBrightStrong;
   //font-size: 1.1em;
   //font-weight: bold;
   text-shadow: $textIconDefaultShadow;
   icon-shadow: $textIconDefaultShadowBig;
 }
 .icon-grid .app-well-app:selected .overview-icon,
 .switcher-list .item-box:selected {
   @extend %flashLightSelected;
 }
 .icon-grid .app-well-app:focus .overview-icon {
   @extend %flashLightFocus;
 }
 .icon-grid .app-well-app:hover .app-well-app-running-dot,
 .icon-grid .app-well-app:focus .app-well-app-running-dot,
 .icon-grid .app-well-app:selected .app-well-app-running-dot {
   width: 30px;
   height: 3px;
   margin-bottom: 5px; /* kan ej vara negativ, försvinner då*/
   border-radius: 3px;
   @extend %plugged;
 }

.icon-grid .app-well-app.app-folder,
.icon-grid .app-well-app.app-folder > .overview-icon {
  // börja med att neutralisera .overview-icon
  background-color: transparent !important;
  background-gradient-direction: none !important;
}
.icon-grid .app-well-app.app-folder > .overview-icon {
  @extend %transparentglass; // för att räta till spökritning av flashlight på mappar
}
 .icon-grid .app-well-app.app-folder > .overview-icon StBoxLayout {
   @extend %sunkinglass;
   border-radius: 5px;
   //padding: 15px;
 }
 .app-folder-icon {} // kan köra med denna istället för den ovan
 .icon-grid .app-well-app.app-folder:hover > .overview-icon StBoxLayout {
   @extend %sunkinglassHover;
   border-radius: 5px;
   //padding: 15px;
 }
 .icon-grid .app-well-app:drop .overview-icon,
 .icon-grid .app-well-app.app-folder:drop > .overview-icon {
   // första när nya mappar kan skapas, andra när saker kan läggas till i existerande mappar
   border-radius: 10px;
   @extend %sunkinglass;
 }
 .icon-grid .app-well-app.app-folder:drop .overview-icon StLabel {
   //@extend %dashLabelAdwaitaNotSoDark;
   //@extend %plugged;
   color: $textIconColorBrightStrong;
   text-shadow: $textIconDefaultShadow;
   // vet inte, vill nog ha etiketten lite mer neutral...
   border-radius: 5px;
   margin-top: .5em;
 }
 .icon-grid .app-well-app.app-folder:drop > .overview-icon StBoxLayout {
   @extend %transparentglass;
   transition-duration: 200ms;
 }

 .app-folder-popup {
   -arrow-border-radius: 6px;
   -arrow-background-color: rgba(25,30,235,1);
   -arrow-border-color: rgba(40,40,240,1);
   -arrow-border-width: .5px;
   -arrow-base: 0;
   -arrow-rise: 0;
 }

 .app-folder-dialog {
   /*background-color: rgba(200,0,0,1);
   padding: 0px !important;
   spacing: 40px !important;
   margin: 0px !important;*/
   //@extend %floatingglassFolder;

   //@extend %pluggedDark;
   @extend %popupStyle;
 }
 .app-folder-dialog .icon-grid {
   //@extend %sunkinglassShallowContrastSolidBack;
   // hade en tanke om att dekorera grid i mappen, men grid ädnrar storlek i takt med mängd ikoner... blir o-clean:t
 }
 .app-folder-dialog .app-well-app .overview-icon StLabel,
 .app-folder-dialog .app-well-app .overview-icon StIcon {
   color: $textIconColorBrightMedium;
   text-shadow: $textIconMediumShadow;
   //font-size: 1em;
   icon-shadow: $textIconMediumShadow;
 }
 .app-folder-dialog .app-well-app .overview-icon {
   icon-size: 24px !important;
   spacing: 0px !important;
 }
 .app-folder-dialog-container {
   //border: 1px solid green;
  // padding: 0px !important;
   margin: 0px !important;
   margin-top: 0px !important;
 }

 .app-folder-dialog .folder-name-container .folder-name-label {
   color: $textIconColorBrightMedium;
 }

 .app-folder-popup-bin {
   //padding: 300px !important; /*annars så får vi en scrollbar på vissa*/
   background-color: rgba(200,0,0,1) !important;
 }
// Försöker fixa stroleksförändring i nätet när en mapp öppnas. app-view-controls åker ner när mappen öppnas, ska försöka att omplacera den så att all-apps alltid är "rätt" storlek.

StScrollView.all-apps {
  //border: 1px solid yellow;
}

.app-view-controls {
  //border: green solid 1px;
  //padding: .5em;
  margin-top: 1em;
  padding: 0px;
  padding-bottom: 0px;
  //@extend %sunkinglass;
  @extend %sunkinglassShallow;
  border-radius: 20px;
}

.app-view-control:first-child,
.app-view-control:last-child {
  //@extend %sunkinglass;
  @extend %transparentglass;
  color: $textIconColorBrightWeak;
  border-radius: 20px;
  margin: 0px;
  padding: 2px 12px;
  font-size: .9em;
}
.app-view-control:first-child:hover,
.app-view-control:last-child:hover {
  color: $textIconColorBrightStrong;
}
.app-view-control:first-child:checked,
.app-view-control:last-child:checked {
  @extend %pluggedDark;
  color: $textIconColorBrightMedium;
  //color: $textIconColorBrightStrong;
}
.app-view-control:first-child:checked:hover,
.app-view-control:last-child:checked:hover {
  //color: $textIconColorBrightWeak;
  //@extend %plugged;
}
.page-indicator {}

.page-indicator .page-indicator-icon {
  //@extend %sunkinglass;
  @extend %plugged;
}
.page-indicator .page-indicator-icon:focus {
  @extend %plugged; // finns ingen matchning ":"
}
