// Dock

#dash {
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  padding: 4px 0;
  background: none;
  @extend %dashSVG2;
  //@extend %dashPureCode;
}
#dashtodockBox {
  //@extend %dashBoxPureCode;
}
