// Dock

#dash {
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  padding: 4px 0;
  background: none;
  @extend %dashSVG2;
  //@extend %dashPureCode;
}
#dashtodockBox {
  //@extend %dashBoxPureCode;
}

#dash .app-well-app {
  @extend %gradientHalfShadow;
}
#dash .app-well-app .overview-icon > * StIcon {
  icon-shadow: $dockDefaultIconShadow;
  background-color: rgba(100,200,255,0);
  //av någon anledning så behöver dom en definerad bakgrund plus stjärnan för att skuggan ska ritas... :-/
}
#dash .app-well-app:hover .overview-icon > * StIcon {
  icon-shadow: $dockHoverIconShadow;
  background-color: rgba(100,200,255,0);
}
/*#dash .dash-item-container {
  @extend %gradientVagueShadow;
}*/
#dash .app-well-app .overview-icon {
  //@extend %flashLightOff;
  //border-radius: 96px;
  background-color: transparent;
  border-radius: 0px;
}
// markering för :hover, har kvar denna för att vara övertydlig med startar-ikoner. Har gjort en fetare effekt med running-dot nedan. Det blir också övertydligt vilka program som körs och vilka som bara är startare :-)
#dash .app-well-app:hover .overview-icon {
  //@extend %flashLightHover;
  box-shadow: inset 0 -.9em 0 0 rgba(0,0,0,.1);
}
#dash .app-well-app:selected .overview-icon,
#dash .app-well-app:active .overview-icon {
  //@extend %flashLightSelected;
  box-shadow: inset 0 -.9em 0 0 rgba(0,0,0,.2);
  // :hover :focus :activ är egentligen onödiga, dom blir :hover-färg när man går till menyn iaf
}
#dash .app-well-app:focus .overview-icon {
  //@extend %flashLightFocus;
  box-shadow: inset 0 -.9em 0 0 rgba(0,0,0,.3);
}
// gör visa program här

#dash .default .app-well-app-running-dot {
  width: 32px;
  height: 2px;
  border-radius: 2.5px;
  //margin-bottom: 0px; /*sänker indikatorn iom att vi gjorde lådorna mindre*/
  background: red;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.8);
  //@extend %sunkingDock;
}
#dash .running1 .app-well-app-running-dot {
  width: 6px;
  height: 2.5px;
  background: $textIconHoverColor;
}
#dash .running1:hover .app-well-app-running-dot {
  background: $textIconFocusColor;
  width: 48px;
}

#dash .running2 .app-well-app-running-dot {
  width: 12px;
  height: 2.5px;
  background: $textIconHoverColor;
}
#dash .running2:hover .app-well-app-running-dot {
  background: $textIconFocusColor;
  width: 48px;
}
#dash .running3 .app-well-app-running-dot {
  width: 24px;
  height: 2.5px;
  background: $textIconHoverColor;
}
#dash .running3:hover .app-well-app-running-dot {
  background: $textIconFocusColor;
  width: 48px;
}
#dash .running4 .app-well-app-running-dot {
  width: 32px;
  height: 2.5px;
  background: $textIconHoverColor;
}
#dash .running4:hover .app-well-app-running-dot {
  background: $textIconFocusColor;
  width: 48px;
}
.dash-label {
  background-color: $adwaitaDark2;
  border: 1px solid $adwaitaDarkBorder;
  box-shadow: 0 0 2px black;
  //@extend %adwaitaDarkSolidShadeNoDirection;
  //background-gradient-direction: vertical;
  color: $textIconFocusColor;
  text-shadow: $textIconSolidShadow;
  -x-offset: -3px; // :-)
}

#dash .show-apps {
  @extend %gradientFullShadow;
  //border: 1px solid green;
}
#dash .show-apps .overview-icon {
  // lådan för showapps
  background-color: rgba(0,0,0,0) !important; // skriver över, ska bara dekorera knappen
}
#dash .show-apps .show-apps-icon {
  // knappen för showapps
  background-color: $adwaitaDarkButton;
  border: 1px solid $adwaitaDarkBorder;
  //border-radius: 5px;
  border-radius: 5px 5px 0 0; // så svårt att välja form...
  //box-shadow: $dockDefaultIconShadow;
  box-shadow: inset  0 .5px 0 0 $adwaitaDarkBorderShadow;
  color: $textIconHoverColor;
}
#dash .show-apps:hover .show-apps-icon {
  background-color: $adwaitaDarkButtonHover;
  color: $textIconFocusColor;
}
