/* ************ Ny Carapace för Gnome 36 **************** */
// Använd "@import 'filnamn';" för att inkludera dom i outputfilen. Dock då måste dom ligga efter eventeuellt definierade variabler, annars importeras dom innan variabeln existerar och det blir error.

// Dessa kommentarer tas bort ifrån outputfilen
// På tal om outputfil... $ sassc scss/gnome-shell.scss gnome-shell.css

/* Copyright 2009, 2015 Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* ******
Theme by HackaN ( hackan301@gmail.com )
****** */

// Globala variabler
$fontStack: Lato, NimbusSans, Cantarell;
$hoverColor: grey;
$primaryColor: #eee;
$brightHoverColor: #fff;
$fontWeight: 400;
$normalFontSize: 1em;
$largeFontSize: 1.1em;
$borderWidth: .5px;
//$menuBG: rgba(35,40,45,.95);
$menuBG: rgba(35,35,35,.95);
$borderColor: rgba(15,20,25,.9);
$boxShadow: 0 0 2px 5px rgba(0,0,0,.7);
$boxShadowLess: 0 0 2px 5px rgba(0,0,0,.2);
$boxShadow2: 0 0 4px 2px rgba(0,0,0,1);
$buttonShadow: 0 0 2px rgba(0,0,0,.0);
$boxShadowMassive: 0 2px 10px rgba(0,0,0,.8);
$overviewGlass: rgba(140,145,150,.4);


$overViewFrame: rgba(25,30,35,1);
$overViewFrameTS: rgba(25,30,35,.7);
//$overViewSunkBackground: rgba(25,30,35,.2);
$overViewSunkBackground: rgba(30,30,30,.2);
$overViewSunkBackgroundLight: rgba(30,30,30,.1);

$textIconDefaultColor: #fff;
$textIconDefaultShadow: 0 1px 2.5px 1px rgba(0,0,0,.8);
$textIconMediumShadow: 0 1px 2.5px 1px rgba(0,0,0,.4);
$textIconSolidShadow: 0 1px 2px 2px rgba(0,0,0,1);
$textIconDefaultShadowBig: 0 1px 3.5px 2px rgba(0,0,0,.8);
$sunkenShadow: inset 0 0 1px .5px rgba(0,0,0,.7);
$textIconDefaultShine: 0 .5px 0 0 rgba(255,255,255,1);
$textIconLessShine: 0 .5px 0 0 rgba(255,255,255,.5);
$textIconEvenLessShine: 0 .5px 0 0 rgba(250,250,250,.35);

$dockDefaultIconShadow: 0 0 2.5px 1px rgba(0,0,0,.55);
$dockHoverIconShadow: 0 0 3.5px 2px rgba(0,0,0,.0);

$textIconOverviewPanelColor: rgba(255,255,255,.7);

$textIconRestingColor: rgba(175,180,185,1);
$textIconHoverColor: rgba(230,230,230,1);
$textIconFocusColor: rgba(255,255,255,1);
$backgroundHoverFocusColor: rgba(255,255,255,.6);

// ljus färg
$backgroundAdwaitaBright: rgba(220,220,220,1);
$textIconColorBrightSub: rgba(255,255,255,.3);
$textIconColorBrightWeak: rgba(255,255,255,.5);
$textIconColorBrightMedium: rgba(255,255,255,.7);
$textIconColorBrightMediumStrong: rgba(255,255,255,.85);
$textIconColorBrightStrong: rgba(255,255,255,.9);
$textIconColorBrightSolid: rgba(255,255,255,1);

$adwaitaBrightButton: rgba(243,242,241,1);
$adwaitaBrightBorder: rgba(205,200,195,1);
$adwaitaBrightBorderShadow: rgba(205,200,195,1);

// mörk färg
$backgroundAdwaitaDark: rgba(38,38,38,1);
$textIconColorDarkSub: rgba(0,0,0,.3);
$textIconColorDarkWeak: rgba(0,0,0,.5);
$textIconColorDarkMediumWeak: rgba(0,0,0,.6);
$textIconColorDarkMedium: rgba(0,0,0,.7);
$textIconColorDarkMediumStrong: rgba(0,0,0,.8);
$textIconColorDarkStrong: rgba(0,0,0,.9);
$textIconColorDarkSolid: rgba(0,0,0,1);

$adwaitaDark1: rgba(38,38,38,.75);
$adwaitaDark2: rgba(43,43,43,.75);
$adwaitaDark1Sub: rgba(38,38,38,.3);
$adwaitaDark1AlmostSolid: rgba(38,38,38,.95);
$adwaitaDark1AlmostSolid95: rgba(38,38,38,.98);
$adwaitaDark2AlmostSolid: rgba(43,43,43,.95);
$adwaitaDark2AlmostSolid95: rgba(43,43,43,.98);
$adwaitaDarkButton: rgba(52,52,52,1);
$adwaitaDarkButtonHover: rgba(57,57,57,1);
$adwaitaDarkBorder: rgba(13,14,16,.9);
$adwaitaDarkBorderShadow:rgba(76,76,76,1);

$markingColor: rgba(230,235,240,.6);


// ----- Extend/Inheritance
// Hämta med "{@extend %<namn>;}"

%standardButton {
  //@extend %pluggedDark;
  border: .5px solid lighten($adwaitaDarkBorder, 5%);
  //border-radius: 5px;
  color: $textIconColorBrightMedium;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
  background-color: $adwaitaDarkButton;
  box-shadow: $adwaitaDarkBorderShadow;
}
%standardButtonHover {
  //@extend %pluggedDark;
  border: .5px solid lighten($adwaitaDarkBorder, 5%);
  //border-radius: 5px;
  color: $textIconColorBrightMedium;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
  background-color: $adwaitaDarkButtonHover;
  box-shadow: $adwaitaDarkBorderShadow;
}

%darkOnBright {
  background-color: $textIconColorBrightMedium;
  color: $textIconColorDarkMedium;
  text-shadow: $textIconDefaultShine;
  icon-shadow: $textIconDefaultShine;
}
%brightOnDark {
  background-color: $textIconColorDarkMedium;
  color: $textIconColorBrightMedium;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
}

%brightOnDarkHover {
  background-color: darken($textIconColorBrightSub, 30%);
  color: $textIconColorBrightStrong;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
}
%brightTitleStrong {
  color: $textIconColorBrightStrong;
  text-shadow: $textIconDefaultShadow;
  font-weight: 700;
  font-size: 1.05em;
}
%brightTitleSolid {
  color: $textIconColorBrightSolid;
  text-shadow: $textIconDefaultShadow;
  font-weight: 700;
  font-size: 1.05em;
}
%brightTitleMedium {
  color: $textIconColorBrightMedium;
  text-shadow: $textIconDefaultShadow;
  font-weight: 700;
  font-size: 1.05em;
}
%brightTitleWeak {
  color: $textIconColorBrightWeak;
  text-shadow: $textIconDefaultShadow;
  font-weight: 700;
  font-size: 1.05em;
}
%InvertedTitleMedium {
  color: $textIconColorDarkMediumWeak;
  text-shadow: $textIconEvenLessShine;
  font-weight: 700;
}
%InvertedTitleMediumHover {
  color: $textIconColorDarkMedium;
  text-shadow: $textIconLessShine;
  font-weight: 700;
}
%flashLightFocus {
  background-gradient-start: rgba(255,255,255,.5);
  background-gradient-end: rgba(245,245,245,.1);
  background-gradient-direction: radial;
  border: .5px solid rgba(255,255,255,.1);
}
%flashLightSelected {
  background-gradient-start: rgba(255,255,255,.5);
  background-gradient-end: rgba(235,235,235,.1);
  background-gradient-direction: radial;
  border: .5px solid rgba(255,255,255,.09);
}
%flashLightHover {
background-gradient-start: rgba(255,255,255,.6);
background-gradient-end: rgba(255,255,255,.1);
background-gradient-direction: radial;
border: .5px solid rgba(255,255,255,.11);
}
%flashLightOff {
background-gradient-start: rgba(255,255,255,.0);
background-gradient-end: rgba(255,255,255,.00);
background-gradient-direction: radial;
border: .5px solid rgba(255,255,255,.0);
}
%flashLightPlate {
background-gradient-start: rgba(43,43,43,1);
background-gradient-end: rgba(38,38,38,1);
background-gradient-direction: radial;
border: .5px solid rgba(78,78,78,1);
}
%panelActive {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  //-panel-corner-radius: 0px;
  //-panel-corner-background-color: rgba(15,20,30,0);
  //-panel-corner-border-width: 0px;
  -panel-corner-border-color: transparent;
}

%gradientDarkTop {
  background-gradient-start: rgba(0,0,0,.4);
  background-gradient-end: rgba(120,120,120,0);
  background-gradient-direction: vertical;
}
%gradientLightTop {
  background-gradient-start: rgba(240,240,240,.4);
  background-gradient-end: rgba(0,0,0,0);
  background-gradient-direction: vertical;
}
%gradientVagueShadow {
  background-gradient-start: rgba(0,0,0,.4);
  background-gradient-end: rgba(140,145,150,0);
  background-gradient-direction: radial;
}
%gradientFullShadow {
  background-gradient-start: rgba(0,0,0,.4);
  background-gradient-end: rgba(0,0,0,.0);
  background-gradient-direction: radial;
}
%gradientHalfShadow {
  background-gradient-start: rgba(0,0,0,.2);
  background-gradient-end: rgba(40,40,40,0);
  background-gradient-direction: radial;
}
%adwaitaDarkSolidShadeNoDirection {
  background-gradient-start: rgba(43,43,43,.1);
  background-gradient-end: rgba(38,38,38,1);
}
%sunkinglass {
  box-shadow: $sunkenShadow;
  border: .5px solid rgba(240,240,240,.2);
  background-color: $overViewSunkBackground;
}
%sunkinglassDimmed {
  box-shadow: $sunkenShadow;
  border: .5px solid rgba(240,240,240,.1);
  background-color: $overViewSunkBackground;
}
%sunkinglassLight {
  box-shadow: $sunkenShadow;
  border: .5px solid rgba(240,240,240,.2);
  background-color: $overViewSunkBackgroundLight;
}
%sunkinglassHover {
  box-shadow: inset 0 0 1px .5px rgba(0,0,0,1);
  border: .5px solid rgba(240,240,240,.25);
  background-color: darken($overViewSunkBackground, 5%);
}
%sunkingDock {
 box-shadow: inset 0 0 1px .5px rgba(0,0,0,.7);
 border: .5px solid rgba(76,76,76,.1);
 background-color: $overViewSunkBackground;
}
%plugged {
  background-color: $backgroundAdwaitaBright;
  box-shadow:outset 0 0 4px 1px rgba(0,0,0,.8);
  border: .5px solid rgba(0,0,0,.0);
}
%pluggedDark {
  background-color: lighten($adwaitaDark2AlmostSolid, 5%);
  box-shadow: $textIconMediumShadow;
  border: .5px solid lighten($adwaitaDarkBorder, 10%);
}
%transparentglass {
  box-shadow: inset .5px 0 1px .5px rgba(0,0,0,.0);
  border: .5px solid rgba(240,240,240,.0);
  background-color: rgba(25,30,35,.0);
}
%sunkinglassShallow {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  //border-top: none;
  //border-bottom: none !important;
  //border-left: none;
  //border-right: none;
  //background-color: $overViewSunkBackgroundLight;
  box-shadow: inset 0 0 0 .5px rgba(0,0,0,.25);
}
%sunkinglassShallowContrast {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  //border-top: none;
  //border-bottom: none !important;
  //border-left: none;
  //border-right: none;
  background-color: $overViewSunkBackgroundLight;
  box-shadow: inset 0 0 0 .5px rgba(0,0,0,.25);
}
%sunkinglassShallowContrastSolidBack {
  @extend %sunkinglassShallow;
  background-color: $adwaitaDark1;
}
%sunkinglassShallowContrastSolidBackFocus {
  @extend %sunkinglassShallowContrastSolidBack;
  border: .5px solid rgba(255,255,255,1);
}

%floatingglassClear {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  box-shadow: 0 0 0 .5px rgba(0,0,0,.25);
}

%floatinglassShallow {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  background-color: $overviewGlass;
  //border-top: none;
  //border-bottom: none !important;
  //border-left: none;
  //border-right: none;
  box-shadow: 0 0 0 .5px rgba(0,0,0,.25);
}
%floatinglassShallowMedium {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  background-color: darken($overviewGlass, 10%);
  //border-top: none;
  //border-bottom: none !important;
  //border-left: none;
  //border-right: none;
  box-shadow: 0 0 0 .5px rgba(0,0,0,.25);
}
%floatinglassShallowDark {
  background-color: $overViewSunkBackground;
  border: .5px solid darken($textIconColorBrightSub, 50%);
  box-shadow: 0 0 0 .5px $textIconColorDarkMedium;
}
%floatingglass {
  background-color: $overviewGlass;
  border: .5px solid rgba(255,255,255,.25);
  box-shadow: $boxShadowMassive;
  margin: 5px;
}
%floatingglassFolder {
  background-color: lighten($overviewGlass, 70%);
  border: .5px solid rgba(255,255,255,.25);
  box-shadow: 0 0 5px 0 black;
  margin: 5px;
}
%dashLabelAdwaitaDark {
  background-color: $adwaitaDark2;
  border: 1px solid $adwaitaDarkBorder;
  box-shadow: 0 0 2px black;
  color: $textIconFocusColor;
  text-shadow: $textIconSolidShadow;
}
%dashLabelAdwaitaNotSoDark {
 background-color: lighten($adwaitaDark2, 10%);
 border: 1px solid lighten($adwaitaDarkBorder, 10%);
 box-shadow: 0 0 2px black;
 color: $textIconFocusColor;
 text-shadow: $textIconSolidShadow;
}

%searchEntryFlatEdgeTransparent {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  border-top: none;
  //border-bottom: none !important;
  border-left: none;
  border-right: none;
  box-shadow:inset 0 -.5px 0 0 rgba(0,0,0,.25);
}
%sunkinglassShallow {
  @extend %transparentglass;
  border: .5px solid rgba(255,255,255,.05);
  //border-top: none;
  //border-bottom: none !important;
  //border-left: none;
  //border-right: none;
  box-shadow: inset 0 0 0 .5px rgba(0,0,0,.25);
}
%searchEntryFlatEdgeTransparentHover {
  @extend %searchEntryFlatEdgeTransparent;
  border: rgba(255,255,255,.25);
  box-shadow: rgba(0,0,0,.45);
}
%searchEntryFlatEdgeTransparentFocus {
  //@extend %searchEntryFlatEdgeTransparent;
  border: rgba(255,255,255,.25);
  box-shadow: outset;
}
%searchEntryTextIconDefault {
  color: $textIconColorBrightWeak;
  /*text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconSolidShadow;
  color: rgba(0,0,0,.6);*/
  text-shadow: $textIconMediumShadow;
  icon-shadow: $textIconMediumShadow;
  // skuggornas styrka påverkas av color
}
%searchEntryTextIconDefaultHover {
  color: $textIconColorBrightMedium;
  //text-shadow: $textIconLessShine;
  //icon-shadow: $textIconLessShine;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
}
%searchEntryTextIconDefaultFocus {
  color: $textIconColorBrightStrong;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
}
%searchResultFlatTransparent {
  @extend %transparentglass;
  border: 0 none;
  border-top: .5px solid rgba(255,255,255,.25);
}
%searchResultTransparent {
  @extend %transparentglass;
  border: 0 none;
}
%searchResultEdge {
  @extend %transparentglass;
  border: .5px none;
  border-top: .5px solid rgba(255,255,255,.05);
  box-shadow: 0 -1px 0 0 rgba(0,0,0,.95);
  margin: 2px;
}
%separatorNone {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
%separatorMediumStrong {
  border: .5px none;
  background-color: darken($textIconColorBrightSub, 30%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.9);
}
%separatorSolid {
  border: .5px none;
  background-color: darken($textIconColorBrightWeak, 30%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.95);
}
%searchResultDarkShade {
  @extend %transparentglass;
  background-gradient-start: rgba(0,0,0,.25);
  background-gradient-end: rgba(120,120,120,0);
  background-gradient-direction: vertical;
  border: 0 none;
  border-top: .5px solid rgba(255,255,255,.25);
}
%searchResultLightShade {
  @extend %transparentglass;
  border: 0 none;
  border-top: .5px solid rgba(255,255,255,.25);
  background-gradient-start: rgba(240,240,240,.05);
  background-gradient-end: rgba(255,255,255,0);
  background-gradient-direction: vertical;
}

%searchResultsLightFrame {
  background-color: $overviewGlass;
  border: .5px solid rgba(255,255,255,.25);
  box-shadow: 0 0 5px 0 black;
  padding: 10px;
}
%searchResults {
  background-color: $overviewGlass;
  border: .5px solid rgba(255,255,255,.0);
  box-shadow: 0 0 5px 0 black;
  padding: 10px;
}
%searchResultsLight {
  background-color: darken($backgroundHoverFocusColor, 10%);
  border: .5px solid rgba(255,255,255,.0);
  box-shadow: 0 0 5px 0 black;
  padding: 10px;
}
%searchResultsFlatEdgeTransparent {
  @extend %transparentglass;
  border: 0 none;
  border-top: .5px solid rgba(0,0,0,.15);
  box-shadow:inset 0 .5px 0 0 rgba(255,255,255,.15);
}
%searchResultsDarkBox {
  @extend %sunkinglass;
  //
  //box-shadow: 0 0 5px .5px rgba(0,0,0,.7);
  //border: .5px solid rgba(0,0,0,.05);
  box-shadow: 0 0 5px .5px rgba(140,145,150,.4);
  border: .5px solid rgba(140,145,150,.05);
  background-color: rgba(140,145,150,.4);
}
%floatingDarkPlate {
  background-color: $adwaitaDark1;
  border: .5px solid $textIconColorBrightSub;
  box-shadow: $boxShadowMassive;
}
%floatingDarkPlate2 {
box-shadow: $boxShadowMassive;
border: .5px solid darken($textIconColorBrightSub, 40%);
background-color: darken($adwaitaDark1AlmostSolid, 5%);
}
%popupStyle {
  background-color: lighten($adwaitaDark1AlmostSolid95, 0%);
  border: .5px solid darken($textIconColorBrightSub, 40%);
  border-radius: 10px;
  box-shadow: $boxShadowMassive;
}
%floatingplateSVG {
    border-image: url("common-assets/misc/CarapaceAdwaitaOSD_v1_1px_.5pxBorder.svg") 9 9 9 9;
}
%overviewSpaceRoundedGlass {
  background-color: $overviewGlass;
  border: 2em solid rgba(25,30,35,.0);
  border-radius: 2.15em;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
}
%overviewSpaceFlatRound {
  //background-color: $overviewGlass;
  background-color: $adwaitaDark1;
  border: 2em solid $overViewFrame;
  border-radius: 3em;
  box-shadow: 0 0 0 1.5em $overViewFrame;
}
%overviewSpaceAdwaitaDark {
  background-gradient-start: $adwaitaDark2;
  background-gradient-end: $adwaitaDark1AlmostSolid;
  background-gradient-direction: radial;
  border: none;
  border-top: 4em solid $overViewFrame;
  border-bottom: 4em solid $overViewFrame;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: $textIconDefaultShadow;
}
%overviewSpaceAdwaitaDarkMovie {
  @extend %overviewSpaceAdwaitaDark;
  box-shadow: inset 0 -.5px 0 0 rgba(255,255,255,.25), inset 0 .5px 0 0 rgba(255,255,255,.25);
}



// ::: Dash :::


// 1 (SLIM)
%dashSVG1 {
  border-image: url("common-assets/dash/CarapaceDockSlim_v2.svg") 9 9 9 9;
}
// 2 (PANTHEON)
%dashSVG2 {
    border-image: url("common-assets/dash/CarapaceDockPantheon_v1.svg") 9 9 9 9;
}
// 2 (Adwaita)
%dashSVG2 {
    border-image: url("common-assets/dash/CarapaceDockPantheonAdwaita_v4_1px_.5pxBorder.svg") 9 9 9 9;
}
// 3 (3D)
%dashSVG3 {
    border-image: url("common-assets/dash/CarapaceDock3D_v5.svg") 10 10 10 10;
}
// Pure Code
%dashBoxPureCode {
  padding: 1px 1px 0px 1px; //bara sidorna
  border: 0px none transparent;
  background-clip: padding-box;
}
%dashPureCode {
  background-color: rgba(35,45,50,.0);
  border: 0px none transparent;
  box-shadow: inset 0 -2em 0 0 rgba(35,45,50,1);
}




// importera resten...

@import 'goas';
@import 'panel';
@import 'dock';
@import 'menusAndPops';
@import 'overview';
@import 'apps';
@import 'search';
