// Menus & Popovers

/* ::: menyer ::: */

.popup-menu {
}

.popup-menu-content {
  //background-color: darken($adwaitaDark1, 5%);
  border-radius: 5px; // kör två lager liksom, denna och där nere för att skapa mindre genomskinlighet. Men det är lite för solidt nu.
  color: $textIconColorBrightMediumStrong;
  text-shadow: $textIconMediumShadow;
  icon-shadow: $textIconMediumShadow;
  //margin: .15em;
   }
   .popup-menu-item,
   .popup-menu-item .popup-menu-icon,
   .popup-menu-item .system-switch-user-submenu-icon,
   .popup-menu-item .popup-menu-arrow {
     background-color: transparent; //ikoner kan vara med p.g.a transparent, dom förljer bakgrundsfärg
     color: $textIconColorBrightMediumStrong;
     text-shadow: $textIconMediumShadow;
     icon-shadow: $textIconMediumShadow;
   }


   .popup-menu-item:hover {
     background-color: darken($textIconColorBrightSub, 30%);
     color: $textIconColorBrightStrong;
   }
   .popup-menu-item:checked
    {
     //background-color: darken($textIconColorBrightMedium, 30%);
     //@extend %darkOnBright;
     //@extend %brightOnDark;
     background-color: darken($textIconColorBrightSub, 40%);
     color: $textIconColorBrightMediumStrong;
   }

   .popup-menu-item:checked .popup-menu-icon,
   .popup-menu-item:checked .system-switch-user-submenu-icon,
   .popup-menu-item:checked .popup-menu-arrow {
     color: $textIconColorBrightMedium;
     icon-shadow: $textIconDefaultShadow;
   }
   .popup-menu-item:checked:hover,
   .popup-menu-item:checked:hover .popup-menu-icon,
   .popup-menu-item:checked:hover .system-switch-user-submenu-icon,
   .popup-menu-item:checked:hover .popup-menu-arrow {
     color: $textIconColorBrightStrong;
   }
   .popup-separator-menu-item {}
   .popup-separator-menu-item .popup-separator-menu-item-separator {
     @extend %separatorNone;
   }

   .popup-sub-menu {
     //background-color: $adwaitaDark2;
     //border: none;
     //@extend %sunkinglassShallow;
     //border-radius: 5px;
     @extend %brightOnDark2;
     //border: none;
   }
   .popup-sub-menu .popup-menu-item {
     //background-color: $adwaitaDark1;
     //color: $textIconColorBrightSolid;
   }

   .popup-sub-menu .popup-separator-menu-item {
     //@extend %floatingglassClear;
   }
   .popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator {
     @extend %separatorNone;
   }



   .popup-menu-boxpointer,
   .candidate-popup-boxpointer { // FIXME: kan du få till en skugga om du delar upp dom?

   /*  -arrow-border-radius: 6px;
     -arrow-background-color: rgba(45,50,55,95);
     -arrow-border-width: 4.5px;
     -arrow-border-color: rgba(35,40,45,.45);
     -arrow-base: 24px;
     -arrow-rise: 8px;
     -arrow-box-shadow: 0 0 10px rgba(250,0,0,1) !important;*/
     -arrow-border-radius: 10px;
     //-arrow-background-color: $menuBG;
     -arrow-background-color: lighten($adwaitaDark1AlmostSolid95, 0%);
     -arrow-border-width: .5px;
     -arrow-border-color: $adwaitaDarkBorder; // sexy as hell
     //-arrow-border-color: $adwaitaBrightBorder;
     //-arrow-border-color: darken($textIconColorBrightSub, 40%);
     -arrow-base: 20px;
     -arrow-rise: 10px;
     //-arrow-box-shadow: $boxShadowMassive !important;
     -arrow-box-shadow: 10px black;
     -box-shadow: $boxShadowMassive;
     -arrow-shadow: $boxShadowMassive;
    }

// GSConnect meny Tweaks // FIXME
.gsconnect-device-section {
  font-size: .9em !important; // problemet är att när det blir två eller fler enheter så kommer en scrollbar upp som lägger sig utanför menyområdet och det blir kaos. Att justera textstrolek kanske är smidigaste lösningen.
}
/*.gsconnect-device-section {
  border: 1px solid blue;
  padding: 0px !important;
  padding-right: 0px !important;
}
// Title Bar
.gsconnect-device-name {
    //margin-top: 1.5em;
    margin: 0px !important;
    border: solid 1px yellow;
}
PopupMenu.PopupMenuSection {
  background-color: yellow;
}
.gsconnect-device-menu .popup-separator-menu-item {
  margin: 0 auto;
  margin-top: .5em;
}
.gsconnect-device-menu .popup-menu-ornament {
  background-color: green;
  width: 1px !important;
  margin: 0px !important;
}
.gsconnect-list-box {
  padding-bottom: 1em;
  margin: 0 auto;
}
.gsconnect-device-battery {
    margin: 0 auto;
    border: 1px solid red;
}*/
// ---- GSConnect slut

// Jag kör Sliders och Scrollbars i goas.scss

// Kalender & Meddelanden

#calendarArea {
  // det här är hela menyområdet inlusive allt
}
.datemenu-calendar-column {
  border: none;
}
#calendarArea .world-clocks-header,
#calendarArea .weather-header,
#calendarArea .message-list-section-title {
  @extend %brightTitleWeak;
}
#calendarArea .events-section-title {
  @extend %brightTitleStrong;
  font-size: 1.5em; // grymt!
}
#calendarArea .events-section-title:hover,
#calendarArea .events-section-title:focus {
  color: $textIconColorBrightStrong;
}
#calendarArea .events-section-title:focus:hover {
  color: $textIconColorBrightSolid;
}

#calendarArea .calendar,
#calendarArea .world-clocks-button,
#calendarArea .weather-button {
  @extend %sunkinglassShallowContrastSolidBack;
}

#calendarArea .message {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 9px;
  color: $textIconColorBrightSolid;
}
#calendarArea .message .message-secondary-bin > .event-time {
  color: transparent;
  //margin-bottom: .1em;
}
#calendarArea .message:hover .message-secondary-bin > .event-time,
#calendarArea .message:focus .message-secondary-bin > .event-time,
#calendarArea .message:active .message-secondary-bin > .event-time {
  color: $textIconColorBrightMediumStrong;
}


#calendarArea .message:hover,
#calendarArea .message:focus:hover,
#calendarArea .message:active:hover,
#calendarArea .world-clocks-button:hover,
#calendarArea .world-clocks-button:focus:hover,
#calendarArea .world-clocks-button:active:hover,
#calendarArea .weather-button:hover,
#calendarArea .weather-button:focus:hover,
#calendarArea .weather-button:active:hover {
  @extend %sunkinglassHover;
}

#calendarArea .message:focus,
#calendarArea .message:active,
#calendarArea .world-clocks-button:focus,
#calendarArea .world-clocks-button:active,
#calendarArea .weather-button:focus,
#calendarArea .weather-button:active {
  @extend %sunkinglass;
}

#calendarArea .message-list-placeholder StIcon { /* ikon inga händelser */
  width: 0px;
  height: 0px; // den går inte att ändra färg på, så gömmer den
 }
#calendarArea .message-list-placeholder StLabel {
  @extend %InvertedTitleWeak;
  font-size: 2.5em;
}

.datemenu-today-button {
  background: $textIconColorBrightMedium;
  color: $textIconColorDarkMedium;
  text-shadow: $textIconDefaultShadow;
  box-shadow: $buttonShadow;
}
.datemenu-today-button:hover {
  background: rgb(190,190,190);
}
.datemenu-today-button:focus {
  background: rgb(175,175,175);
}
.datemenu-today-button:insensitive {
  background: transparent;
  color: $textIconColorBrightMediumStrong;
  text-shadow: $textIconDefaultShadow;
  box-shadow: 0 0 2px rgba(0,0,0,0);
}
