// Menus & Popovers

/* ::: menyer ::: */

.popup-menu {
}

.popup-menu-content {
   }
   .popup-menu-boxpointer,
   .candidate-popup-boxpointer {
   /*  -arrow-border-radius: 6px;
     -arrow-background-color: rgba(45,50,55,95);
     -arrow-border-width: 4.5px;
     -arrow-border-color: rgba(35,40,45,.45);
     -arrow-base: 24px;
     -arrow-rise: 8px;
     -arrow-box-shadow: 0 0 10px rgba(250,0,0,1) !important;*/
     -arrow-border-radius: 10px;
     -arrow-background-color: $menuBG;
     -arrow-border-width: 1px;
     -arrow-border-color: $borderColor;
     -arrow-base: 20px;
     -arrow-rise: 10px;
     -arrow-box-shadow: $boxShadow !important;
    }
