// Overview

/* överblicken */


// Gjs_ui_overview_OverviewActor verkar vara samma som #overview

//background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);

// ::: Översitk generellt :::

#overview {
  background-color: $overviewGlass;

  // Enkel rundad, lite för platt
  /*
  border: 2em solid $overViewFrame;
  border-radius: 3em;
  box-shadow: 0 0 0 1.5em $overViewFrame;
  padding: -2em; // återställa utrymme*/


  // Traditionell Överblick -----------------------
  // Blev cool med border 0px.
  // ! Viktigt: .workspace-thumbnails background-color a: .7
/*
  border: 1px rgba(25,30,35,.8);
  border-radius: 3px;
  padding: 0px;
  box-shadow:inset 0 0 0px 0px rgba(0,0,0,.8);
  */

  // Utzoomad Överblick --------------------------
  // Funkar inte med runt. Du får tomma utskärningar i hörnen efter den kurvade ramen.
  // ! Viktigt: .workspace-thumbnails background-color a: 1
/*
  border: 2em solid rgba(25,30,35,1);
  border-radius: 0px;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
  padding: -2em;*/

  // Kurvad Överblick ----------------------------
  //Rundad, genomskinlig ram (för att slippa snusk-mellanrum i kanterna)
  //! Viktigt: .workspace-thumbnails background-color a: .2

  border: 2em solid rgba(25,30,35,.0);
  border-radius: 2.15em;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
  padding: -2em;/**/
  padding-right: 0em;

}


// ::: Arbetsytor :::

.overview-controls {
  //padding: 5px 0 5px 5px; // dom går medsols med början i övre vänstra hörnet eller övre kant.
}


.workspace-thumbnails {
  @extend %sunkinglass;
  spacing: 15px;  //kan behövas fixas mer
  padding: 10px;
  border-radius: 3px 0 0 3px;
  overflow: visible;

  // Kurvar stil
  //border: .5px solid rgba(240,240,240,.2);
  border-right: none;
  //box-shadow: inset .5px 0 1px .5px rgba(0,0,0,.2);
  //background-color: rgba(25,30,35,.2);

  // Dock
  /*
  border: .5px solid rgba(0,0,0,.7);
  border-right: none;
  background-color: rgba(35,40,45,.7);
  box-shadow: 0 0 5px 2px black;*/
  // Dock:en behöver .overview-controls {padding: 5px 0 5px 5px;} och #overview {padding-right: 0em;}
}

.workspace-thumbnails .placeholder {
  background-image: none; //överblicks-stil
  background-color: rgba(140,145,150,.4);
  border: 0 solid rgba(25,30,35,.0);
  border-radius: 5px;
  box-shadow:inset 0 0 .5px .5px rgba(255,255,255,.25);
}
.workspace-thumbnail {
  //finns inte något här som jag lyckats tweak:a
}
.workspace-thumbnail-indicator {
  border: 4px solid $markingColor;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0px;
  padding: 6px; /* typ samma avstånd som från skärmkanten*/
  margin-left: 3px;
}
.window-picker { // låter picker vara
  /*-horizontal-spacing: 32px;
  -vertical-spacing: 40px;
  padding-left: 52px;
  padding-right: 12px;
  padding-bottom: 15px;*/
}
.window-picker.external-monitor {
  /*padding: 32px;*/
}
.window-clone-border {
  border: 1px rgba(50,55,60,1);
  border-radius: 2px;
  box-shadow: $boxShadow2;
  background-color: rgba(140,145,150,.1);
}
.window-clone {
  // finns inget att göra här
}
.window-caption {
  background: transparent;
  text-shadow: $boxShadow2;
  margin-top: 2em;
  padding-bottom: .5em;
  color: $brightHoverColor;
  font-weight: $fontWeight;
  font-size: $largeFontSize;
  border: none;
}
.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  border: 0px;
  border-radius: 26px;
  box-shadow: $boxShadowLess;
  background-color: transparent;
  color: transparent; }
  .window-close:hover {
    background-image: url("common-assets/misc/close-hover.svg"); }
  .window-close:active {
    background-image: url("common-assets/misc/close-active.svg");}


// Sök
/* ::: Dash sök ::: */
.search-entry,
.search-entry:hover,
.search-entry:focus {
 transition-duration: 800ms;
 padding: 5px !important;
 //text-align: justify; // den här... Jag vill att texten ska vara centrerad när den vilar, sedan åka till vänster när fokus
}
.search-entry {
  //@extend %searchEntryFlatEdgeTransparent;
  @extend %sunkinglassShallow;
  //@extend %sunkinglass;
  margin-left: 2em; // centrera lådan
  //border-radius: 0;
}
.search-entry:hover {
  //@extend %transparentglass;
  //@extend %searchEntryFlatEdgeTransparentHover;
  //@extend %sunkinglass;
}
.search-entry:focus,
.search-entry:focus:hover {
  @extend %sunkinglass;
  //@extend %searchEntryFlatEdgeTransparentFocus;
}

.search-entry,
.search-entry .search-entry-icon,
.search-entry .hint-text {
  //color: $textIconRestingColor;
  @extend %searchEntryTextIconDefault;
}

.search-entry:hover,
.search-entry:hover .search-entry-icon,
.search-entry:hover .hint-text {
  //color: $textIconHoverColor;
  //color: $textIconOverviewPanelColor;
  @extend %searchEntryTextIconDefaultHover;
}
.search-entry:focus,
.search-entry:focus:hover,
.search-entry:focus .search-entry-icon,
.search-entry:focus:hover .search-entry-icon,
.search-entry:focus .hint-text,
.search-entry:focus:hover .hint-text {
  //color: $textIconFocusColor;
  //color: $textIconOverviewPanelColor;
  @extend %searchEntryTextIconDefaultFocus;
}

// ::: Results :::

.search-section .icon-grid {
  margin-top: 1em;
  margin-bottom: 2em;
}

.search-section-content,
.search-provider-icon {
  //@extend %searchResultEdge;
  //@extend %searchResultDarkShade;
  @extend %searchResultTransparent;
}
.list-search-results {
  //@extend %searchResultFlatTransparent;
  //@extend %searchResultsFlatEdgeTransparent;
  //@extend %searchResultsDarkBox;
  @extend %sunkinglassLight;
  //@extend %sunkinglassShallow;
  border-radius: 10px;
  padding: 10px;
}

.list-search-result {
  @extend %transparentglass;
  border-radius: 5px;
}

.list-search-result StIcon,
.list-search-provider-content StIcon {
  icon-shadow: $textIconDefaultShadow;
}
.list-search-result:hover StIcon,
.list-search-result:focus StIcon,
.list-search-result:focus:hover StIcon,
.list-search-result:selected StIcon {
  //@extend %flashLightFocus;
}

.search-provider-icon {}

.list-search-result:hover,
.list-search-result:focus,
.list-search-result:focus:hover,
.list-search-result:selected,
/*.search-provider-icon:hover,
.search-provider-icon:focus,
.search-provider-icon:focus:hover*/ {
  //background-color: $backgroundHoverFocusColor;
  //border: .5px solid rgba(0,0,0,.05);
  //background-color: $adwaitaDark1Sub;
  //@extend %sunkinglass;
  //box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
  @extend %floatinglassShallow;
}

.search-provider-icon .list-search-provider-content {
  //finns ingen text här
  border-radius: 5px;
  padding: 5px;
  @extend %transparentglass;
}
.search-provider-icon .list-search-provider-details {
  color: $textIconColorBrightMedium;
}
.search-provider-icon:hover .list-search-provider-details,
.search-provider-icon:focus .list-search-provider-details {
  color: $textIconColorBrightStrong;
}
.search-provider-icon:focus:hover .list-search-provider-details {
  color: $textIconColorBrightSolid;
}

.search-provider-icon:focus .list-search-provider-content {
  @extend %floatinglassShallow;
}

.list-search-result .list-search-result-content,
.list-search-result .list-search-result-content,
.list-search-result .list-search-result-content,
.search-provider-icon .list-search-provider-content,
.search-provider-icon .list-search-provider-content,
.search-provider-icon .list-search-provider-content {
  color: $textIconColorBrightMedium;
  text-shadow: $textIconMediumShadow;
}

.list-search-result:hover .list-search-result-content,
.list-search-result:focus .list-search-result-content,
.list-search-result:focus:hover .list-search-result-content,
.search-provider-icon:hover .list-search-provider-content,
.search-provider-icon:focus .list-search-provider-content,
.search-provider-icon:focus:hover .list-search-provider-content {
  //color: rgba(0,0,0,.75);
  //text-shadow: 0 .5px 0 0 white;
  color: $textIconColorBrightSolid;
  text-shadow: $textIconDefaultShadow;
}
.list-search-result:hover .list-search-result-description,
.list-search-result:focus .list-search-result-description,
.list-search-result:focus:hover .list-search-result-description,
.search-provider-icon:hover .list-search-provider-details,
.search-provider-icon:focus .list-search-provider-details,
.search-provider-icon:focus:hover .list-search-provider-details {
  //color: rgba(30,30,30,.7);
  //text-shadow: 0 .5px 0 0 white;
  color: $textIconColorBrightStrong;
}


// ::: Ikonnät :::

.icon-grid,
.app-folder-popup,
.app-folder-popup-bin {
  spacing: 20px; // lägre värde = större ikoner
  -shell-grid-horizontal-item-size: 122px;
  -shell-grid-vertical-item-size: 122px;
  //border: 1px solid green;
 }
 .icon-grid .overview-icon {
   icon-size: 96px; }
 .app-display {
   margin-left: 2em; // så att ikoner blir centerade
   //border: 1px solid green;
 }

 .icon-grid .app-well-app .overview-icon {
   background-gradient-direction: none;
   border-radius: 120px;
   //border: .5px solid rgba(240,240,240,.0);
 }
 .icon-grid .app-well-app .overview-icon StLabel,
 .icon-grid .app-well-app .overview-icon StIcon {
   color: $textIconColorBrightWeak;
   text-shadow: $textIconMediumShadow;
   //font-size: 1em;
   icon-shadow: $textIconMediumShadow;
 }
.icon-grid .app-well-app-running-dot {
  width: 30px;
  height: 3px;
  margin-bottom: 5px; /* kan ej vara negativ, försvinner då*/
  border-radius: 3px;
  @extend %sunkinglass;
}

 .icon-grid .app-well-app:hover .overview-icon {
   @extend %flashLightHover;
 }
 .icon-grid .app-well-app:hover .overview-icon StLabel,
 .icon-grid .app-well-app:selected .overview-icon StLabel,
 .icon-grid .app-well-app:focus .overview-icon StLabel,
 .icon-grid .app-well-app:hover .overview-icon StIcon,
 .icon-grid .app-well-app:selected .overview-icon StIcon,
 .icon-grid .app-well-app:focus .overview-icon StIcon {
   color: $textIconColorBrightStrong;
   //font-size: 1.1em;
   //font-weight: bold;
   text-shadow: $textIconDefaultShadow;
   icon-shadow: $textIconDefaultShadowBig;
 }
 .icon-grid .app-well-app:selected .overview-icon {
   @extend %flashLightSelected;
 }
 .icon-grid .app-well-app:focus .overview-icon {
   @extend %flashLightFocus;
 }
 .icon-grid .app-well-app:hover .app-well-app-running-dot,
 .icon-grid .app-well-app:focus .app-well-app-running-dot,
 .icon-grid .app-well-app:selected .app-well-app-running-dot {
   width: 30px;
   height: 3px;
   margin-bottom: 5px; /* kan ej vara negativ, försvinner då*/
   border-radius: 3px;
   @extend %plugged;
 }
.icon-grid .app-well-app:drop .overview-icon {
  border-radius: 10px;
  @extend %sunkinglass;
}

.icon-grid .app-well-app.app-folder,
.icon-grid .app-well-app.app-folder > .overview-icon {
  // börja med att neutralisera .overview-icon
  background-color: transparent !important;
  background-gradient-direction: none !important;
}
 .icon-grid .app-well-app.app-folder > .overview-icon StBoxLayout {
   @extend %sunkinglass;
   border-radius: 5px;
   //padding: 15px;
 }
 .app-folder-icon {} // kan köra med denna istället för den ovan
 .icon-grid .app-well-app.app-folder:hover > .overview-icon StBoxLayout {
   @extend %sunkinglassHover;
   border-radius: 5px;
   //padding: 15px;
 }
 .icon-grid .app-well-app.app-folder:drop .overview-icon StLabel {
   //@extend %dashLabelAdwaitaNotSoDark;
   //@extend %plugged;
   color: $textIconColorBrightStrong;
   text-shadow: $textIconDefaultShadow;
   // vet inte, vill nog ha etiketten lite mer neutral...
   border-radius: 5px;
   margin-top: .5em;

 }
 .icon-grid .app-well-app.app-folder:drop > .overview-icon StBoxLayout {
   @extend %transparentglass;
   transition-duration: 200ms;
 }

 .app-folder-popup {
   -arrow-border-radius: 6px;
   -arrow-background-color: rgba(25,30,235,1);
   -arrow-border-color: rgba(40,40,240,1);
   -arrow-border-width: .5px;
   -arrow-base: 0;
   -arrow-rise: 0;
 }

 .app-folder-dialog {
   /*background-color: rgba(200,0,0,1);
   padding: 0px !important;
   spacing: 40px !important;
   margin: 0px !important;*/
   //@extend %floatingglassFolder;
   @extend %pluggedDark;
 }
 .app-folder-dialog .app-well-app .overview-icon StLabel,
 .app-folder-dialog .app-well-app .overview-icon StIcon {
   color: $textIconColorBrightMedium;
   text-shadow: $textIconMediumShadow;
   //font-size: 1em;
   icon-shadow: $textIconMediumShadow;
 }
 .app-folder-dialog .app-well-app .overview-icon {
   icon-size: 24px !important;
   spacing: 0px !important;
 }
 .app-folder-dialog-container {
   //border: 1px solid green;
  // padding: 0px !important;
   margin: 0px !important;
   margin-top: 0px !important;
 }

 .app-folder-dialog .folder-name-container .folder-name-label {
   color: $textIconColorBrightMedium;
 }

 .app-folder-popup-bin {
   //padding: 300px !important; /*annars så får vi en scrollbar på vissa*/
   background-color: rgba(200,0,0,1) !important;
 }
// Försöker fixa stroleksförändring i nätet när en mapp öppnas. app-view-controls åker ner när mappen öppnas, ska försöka att omplacera den så att all-apps alltid är "rätt" storlek.

StScrollView.all-apps {
  //border: 1px solid yellow;
}

.app-view-controls {
  //border: green solid 1px;
  //padding: .5em;
  margin-top: 1em;
  padding: 0px;
  padding-bottom: 0px;
  //@extend %sunkinglass;
  @extend %sunkinglassShallow;
  border-radius: 20px;
}

.app-view-control:first-child,
.app-view-control:last-child {
  //@extend %sunkinglass;
  @extend %transparentglass;
  color: $textIconColorBrightWeak;
  border-radius: 20px;
  margin: 0px;
  padding: 2px 12px;
  font-size: .9em;
}
.app-view-control:first-child:hover,
.app-view-control:last-child:hover {
  color: $textIconColorBrightStrong;
}
.app-view-control:first-child:checked,
.app-view-control:last-child:checked {
  @extend %pluggedDark;
  color: $textIconColorBrightMedium;
  //color: $textIconColorBrightStrong;
}
.app-view-control:first-child:checked:hover,
.app-view-control:last-child:checked:hover {
  //color: $textIconColorBrightWeak;
  //@extend %plugged;
}
.page-indicator {}

.page-indicator .page-indicator-icon {
  //@extend %sunkinglass;
  @extend %plugged;
}
.page-indicator .page-indicator-icon:focus {
  @extend %plugged; // finns ingen matchning ":"
}
