// Panel

// kombinerar dynamic panel transparency med detta hack som lägger in skugga och kant-effekten i lådan bakom panelen :-) Det här hacket ska funka med andra transparency tillägg också. Fan vad fet jag är på detta, haha! :-D

//Kör storlekar för objekt med text, t ex paneler i "em" så att vi stödjer skalningsfaktor för teckensnitt

#panelBox {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(5,10,15,.35);
  background-gradient-end: rgba(60,65,70,.0);
  /*border: .5px none rgba(0,0,0,.0);
  border-top: .5px solid rgba(240,245,250,.15);
  border-radius: 2px;*/
  box-shadow:inset 0px .5px .5px rgba(245,245,250,.25);
  border-radius: 1px;
}

#panel,
#panel .panel-button,
#panel .system-status-icon,
#panel .app-menu-icon > StIcon,
#panel .popup-menu-arrow,
#panel Gjs_ui_dateMenu_MessagesIndicator {
  font-size: 1em;
  font-weight: $fontWeight;
  color: darken($textIconColorBrightSolid, 15%);
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
  //text-shadow: $textIconDefaultShine;
  //icon-shadow: $textIconDefaultShine;
}
#panel .power-status.panel-status-indicators-box {
  spacing: 0;
  //font-size: 1.2em; //
 }

#panel.transparent {
}

#panel:overview {
  //box-shadow: 0 0 0 2px rgba(250,0,0,1) !important;
  // för att täcka ljusa kanten
  border-top: 1px solid $overViewFrame;
  border-left: 0px solid $overViewFrame;
  border-bottom: 0px solid $overViewFrame;
  border-right: 0px solid $overViewFrame;
  }
  #panel.transparent,
  #panel.transparent .panel-button,
  #panel.transparent .system-status-icon,
  #panel.transparent .app-menu-icon > StIcon,
  #panel.transparent .popup-menu-arrow,
  #panel.transparent Gjs_ui_dateMenu_MessagesIndicator {
    color: $textIconColorBrightStrong;
  }

// nOTERING, .PANEL-BUTTON INKLUDERAR INTE STATUSITEMS
  #panel:overview,
  #panel:overview .panel-button,
  #panel:overview .system-status-icon,
  #panel:overview .app-menu-icon > StIcon,
  #panel:overview .popup-menu-arrow,
  #panel:overview Gjs_ui_dateMenu_MessagesIndicator {
    //color: darken($textIconDefaultColor, 30%);
    color: $textIconColorBrightMedium;
  }

    //börjar med solid panel
    #panel :hover,
    #panel .panel-button:hover,
    #panel :hover .system-status-icon,
    #panel .app-menu-icon:hover > StIcon,
    #panel :hover .popup-menu-arrow,
    #panel Gjs_ui_dateMenu_MessagesIndicator:hover,
    //nästa är overview
  #panel:overview :hover,
  #panel:overview .panel-button:hover,
  #panel:overview :hover .system-status-icon,
  #panel:overview .app-menu-icon:hover > StIcon,
  #panel:overview :hover .popup-menu-arrow,
  #panel:overview Gjs_ui_dateMenu_MessagesIndicator:hover {
    //color: darken($textIconDefaultColor, 30%);
    color: $textIconColorBrightSolid;
  }
  // fortsätter med transparent
  #panel.transparent :hover,
  #panel.transparent .panel-button:hover,
  #panel.transparent :hover .system-status-icon,
  #panel.transparent .app-menu-icon:hover > StIcon,
  #panel.transparent :hover .popup-menu-arrow,
  #panel.transparent Gjs_ui_dateMenu_MessagesIndicator:hover {
    color: $textIconColorBrightSolid;
  }



// Försöker reda ut paneler:
// solid = "panel" = #panel
// .transparent:overview #panel
// .transparent #panel



 // Tray Icons Reloaded Extension

 .TrayIndicator StButton {
	padding: 0 0px !important;
  margin: 0px !important;
}
.TrayIndicator {
  border: 1px solid red !important;
  padding: 0px !important;
}
