// Panel

// kombinerar dynamic panel transparency med detta hack som lägger in skugga och kant-effekten i lådan bakom panelen :-) Det här hacket ska funka med andra transparency tillägg också. Fan vad fet jag är på detta, haha! :-D

//Kör storlekar för objekt med text, t ex paneler i "em" så att vi stödjer skalningsfaktor för teckensnitt

#panelBox {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(5,10,15,.35);
  background-gradient-end: rgba(60,65,70,.0);
  /*border: .5px none rgba(0,0,0,.0);
  border-top: .5px solid rgba(240,245,250,.15);
  border-radius: 2px;*/
  box-shadow:inset 0px .5px .5px rgba(245,245,250,.25);
  border-radius: 1px;
}

#panel .panel-button .app-menu-icon { /* program-ikoner, ligger framför namnet i panelen, men dom är inte alltid så vackra... */
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#panel #panelActivities.panel-button > *,
#panel #panelActivities.panel-button > *,
#panel:overview #panelActivities.panel-button > * {
icon-shadow: $textIconDefaultShadow;
text-shadow: $textIconDefaultShadow;
width: 24px !important;
height: 24px !important;
background-color: transparent !important;
background-gradient-direction: none !important;
border: 0 none transparent !important;
text-shadow: 0 0 transparent !important;
transition-duration: 0ms !important;
box-shadow: none !important;
color: transparent;
background-image: none;
}
// fot default
#panel #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg");
}
#panel.transparent #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg");
}
#panel:overview #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.7.svg");
}
// fot hover
#panel :hover #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7.svg");
}
#panel.transparent :hover #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7.svg");
}
#panel:overview :hover #panelActivities.panel-button > * {
background-image: url("common-assets/panel/GnomeFootVit_merSkugga_v7_a.9.svg");
}
#panel .popup-menu-arrow {
  width: 0; }

// lägg till :hover effekter på foten

#panel,
#panel .panel-button,
#panel .system-status-icon,
#panel .app-menu-icon > StIcon,
#panel .popup-menu-arrow,
#panel Gjs_ui_dateMenu_MessagesIndicator {
  font-size: 1em;
  font-weight: $fontWeight;
  //color: darken($textIconColorBrightSolid, 15%);
  color: $textIconColorBrightStrong;
  text-shadow: $textIconDefaultShadow;
  icon-shadow: $textIconDefaultShadow;
  //text-shadow: $textIconDefaultShine;
  //icon-shadow: $textIconDefaultShine;
}
#panel .power-status.panel-status-indicators-box {
  spacing: 0;
  //font-size: 1.2em; //
 }

#panel.transparent {
}

#panel:overview {
  //box-shadow: 0 0 0 2px rgba(250,0,0,1) !important;
  // för att täcka ljusa kanten
  border-top: 1px solid $overViewFrame;
  border-left: 0px solid $overViewFrame;
  border-bottom: 0px solid $overViewFrame;
  border-right: 0px solid $overViewFrame;
  }
  #panel.transparent,
  #panel.transparent .panel-button,
  #panel.transparent .system-status-icon,
  #panel.transparent .app-menu-icon > StIcon,
  #panel.transparent .popup-menu-arrow,
  #panel.transparent Gjs_ui_dateMenu_MessagesIndicator {
    color: $textIconColorBrightStrong;
  }
  #panel.transparent .panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: rgba(15,20,30,0);
    -panel-corner-border-width: 0px;
    -panel-corner-border-color: transparent;
  }

// nOTERING, .PANEL-BUTTON INKLUDERAR INTE STATUSITEMS
  #panel:overview,
  #panel:overview .panel-button,
  #panel:overview .system-status-icon,
  #panel:overview .app-menu-icon > StIcon,
  #panel:overview .popup-menu-arrow,
  #panel:overview Gjs_ui_dateMenu_MessagesIndicator {
    //color: darken($textIconDefaultColor, 30%);
    color: $textIconColorBrightMedium;
  }
  #panel:overview .panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: rgba(15,20,30,0);
    -panel-corner-border-width: 0px;
    -panel-corner-border-color: transparent;
  }

    //börjar med solid panel
    #panel :hover,
    #panel .panel-button:hover,
    #panel :hover .system-status-icon,
    #panel .app-menu-icon:hover > StIcon,
    #panel :hover .popup-menu-arrow,
    #panel Gjs_ui_dateMenu_MessagesIndicator:hover,
    #panel :active,
    #panel .panel-button:active,
    #panel :active .system-status-icon,
    #panel .app-menu-icon:active > StIcon,
    #panel :active .popup-menu-arrow,
    #panel Gjs_ui_dateMenu_MessagesIndicator:active {
      color: $textIconColorBrightSolid;
    }
    #panel .panel-button:active,
    #panel .panel-corner:active {
      //box-shadow: inset 0 -2px 0 0 $textIconColorBrightSolid;
      @extend %panelActive;
    }
    #panel .panel-button:active StLabel.clock {
      box-shadow: none; // den har BS by default, blir dubbel vid :active, tar bort, kör panel-button ovan som standard istället
    }

  // fortsätter med transparent
  #panel.transparent :hover,
  #panel.transparent .panel-button:hover,
  #panel.transparent :hover .system-status-icon,
  #panel.transparent .app-menu-icon:hover > StIcon,
  #panel.transparent :hover .popup-menu-arrow,
  #panel.transparent Gjs_ui_dateMenu_MessagesIndicator:hover,
  #panel.transparent :active,
  #panel.transparent .panel-button:active,
  #panel.transparent :active .system-status-icon,
  #panel.transparent .app-menu-icon:active > StIcon,
  #panel.transparent :active .popup-menu-arrow,
  #panel.transparent Gjs_ui_dateMenu_MessagesIndicator:active {
    color: $textIconColorBrightSolid;
  }
  #panel.transparent .panel-button:active {
    //box-shadow: inset 0 -2px 0 0 $textIconColorBrightSolid;
    @extend %panelActive;
  }
  //nästa är overview
#panel:overview :hover,
#panel:overview .panel-button:hover,
#panel:overview :hover .system-status-icon,
#panel:overview .app-menu-icon:hover > StIcon,
#panel:overview :hover .popup-menu-arrow,
#panel:overview Gjs_ui_dateMenu_MessagesIndicator:hover,
#panel:overview :active,
#panel:overview .panel-button:active,
#panel:overview :active .system-status-icon,
#panel:overview .app-menu-icon:active > StIcon,
#panel:overview :active .popup-menu-arrow,
#panel:overview Gjs_ui_dateMenu_MessagesIndicator:active {
  //color: darken($textIconDefaultColor, 30%);
  color: $textIconColorBrightStrong;
}
#panel:overview .panel-button:active,
#panel:overview #panelActivities.panel-button,
#panel:overview :active StBin {
  //box-shadow: inset 0 -2px 0 0 $textIconColorBrightStrong;
  @extend %panelActive;
}

/*#panel:overview #panelActivities.panel-button {
  //border: red 1px solid;
  box-shadow: inset 0 -1px 0 0 rgba(0,255,0,1);
}*/



 // Tray Icons Reloaded Extension

 .TrayIndicator StButton {
	padding: 0 0px !important;
  margin: 0px !important;
}
.TrayIndicator {
  border: 1px solid red !important;
  padding: 0px !important;
}
